body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(45deg, greenyellow, dodgerblue);
    font-family: sans-serif;
  }



.logo{
margin-top: 200px;
    align-items: center;
    img {
        width: 200px;
        }
}



section {
    position: relative;
    padding: 50px 50px;
    background: #fff;
    border-radius: 10px;
    max-width: 800px;
    margin: 50px auto;
  }
  
